name: QA Pipeline - C#

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Run tests
      run: dotnet test --no-restore

    - name: Run smoke tests
      run: dotnet test --filter Category=Smoke
    
    - name: Run regression tests
      run: dotnet test --filter Category=Regression

    - name: Run system integration tests
      run: dotnet test --filter Category=SIT

    - name: Run tests with trx
      run: dotnet test --logger trx

    - name: Publish results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: "**/*.trx"
      
    - name: Run tests with coverage
      run: dotnet test /p:CollectCoverage=true


